<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>API Manager</title>
  <link rel="stylesheet" href="../styles/styles.css"/>
</head>
<body>

<!--HEADER  -->
<header>
  <h1>API Manager</h1>
  <div class="status-badge">
    <div class="status-dot" id="statusDot"></div>
    <span id="statusText">localhost:3000</span>
  </div>
</header>

<div class="app">

  <!--  SIDEBAR -->
  <aside class="sidebar">
    <div class="sidebar-label">Recursos</div>
    <div class="nav-item active" data-section="products" id="nav-products">
      <span class="nav-icon">📦</span> Products
      <span class="nav-count" id="count-products">—</span>
    </div>
    <div class="nav-item" data-section="users" id="nav-users">
      <span class="nav-icon">👤</span> Users
      <span class="nav-count" id="count-users">—</span>
    </div>
    <div class="nav-item" data-section="posts" id="nav-posts">
      <span class="nav-icon">📝</span> Posts
      <span class="nav-count" id="count-posts">—</span>
    </div>
    <div class="nav-item" data-section="carts" id="nav-carts">
      <span class="nav-icon">🛒</span> Carts
      <span class="nav-count" id="count-carts">—</span>
    </div>
  </aside>

  <!-- MAIN  -->
  <main id="mainContent">
    <div class="loading"><div class="spinner"></div> Conectando a la API...</div>
  </main>

</div>

<!--  MODAL  -->
<div class="modal-overlay" id="modalOverlay">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-title" id="modalTitle">—</div>
      <button class="modal-close" id="modalCloseBtn">✕</button>
    </div>
    <div class="modal-body"  id="modalBody"></div>
    <div class="modal-footer" id="modalFooter"></div>
  </div>
</div>

<!-- TOASTS  -->
<div class="toast-container" id="toastContainer"></div>

<!--  APP PRINCIPAL-->
<script type="module" src="../js/app.js"></script>

</body>
</html>
